
<div class="de-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-primary" onfocus="false"> <i class="bi bi-plus-circle-fill"></i> Crear </button>
    <a asp-action="Index" class="btn btn-success"> <i class="bi bi-arrow-left-square-fill"></i> Regresar</a>
</div>
